<div>
  <p>

    <strong>Status:</strong>
    <%= quarto.status %>
    <strong>Preço</strong>
    <%= quarto.preco %>
    <strong>Foto do Quarto:</strong>
    <%= quarto.foto %>
      </p>
 </div>