<h1>Bem vindo ao hotel vitor e alvaro</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<h1>Quartos</h1>

  <%= link_to "Faça Login", user_session_path, class: "btn btn-new me-2" %>




<div >
  <% @quartos.each do |quarto| %>
    <%= render partial: "quartos", locals: { quarto: quarto } %>
  <% end %>
</div>


<%= user_signed_in? ? "Conectado: #{current_user.email}" : "Desconectado" %>
<%= link_to destroy_user_session_path, data: { turbo_method: :delete } do %>
Fazer Logoff
<% end %>