<div class="container mt-5">
  <h1 class="mb-4">Editar Quarto</h1>

  <div class="card shadow-sm p-4">
    <%= render "form", quarto: @quarto %>
  </div>

  <br>

  <div class="d-flex justify-content-between mt-3">
    <%= link_to "Visualizar Quarto", [:administrativo, @quarto], class: "btn btn-primary" %>
    <%= link_to "Voltar para Quartos", administrativo_quartos_path, class: "btn btn-secondary" %>
  </div>
</div>